<div class="imagebg"></div>
<div class="row " style="margin-top: 75px">
    <div class="col-md-6 col-md-offset-3 form-container">
        <h4>Welcome back!</h4>
        <p>
            Please provide the candidate details and your feedback of the candidate interview:
        </p>
        <form role="form" method="post" id="feedback_form">

            <div class="row">

                <div class="form-group">

                    <label>1. Candidate's Name</label>
                    <p>
                        <label class="text-field">
                            <input type="text" name="name" id="c_name" placeholder="Enter the candidate's name..">
                        </label>
                    </p>

                    <label>2. Candidate's Email ID</label>
                    <p>
                        <label class="text-field">
                            <input type="text" name="email" id="email" placeholder="example@gmail.com">
                        </label>
                    </p>

                    <label>3. Candidate's College Name</label>
                    <p>
                        <label class="text-field">
                            <input type="text" name="college" id="college" value="" placeholder="Enter the college name..">
                        </label>
                    </p>

                    <label>4. Date</label>
                    <p>
                        <label class="date-field">
                            <input type="date" name="date" id="date" value="" placeholder="dd-mm-yyyy">
                        </label>
                    </p>

                    <label>5. HackerRank Score</label>
                    <p>
                        <label class="text-field">
                            <input type="text" name="HRscore" id="HRscore" value="" placeholder="Enter a score between 1-100">
                        </label>
                    </p>

                    <label>6. Interviewer's Name</label>
                    <p>
                        <label class="text-field">
                            <input type="text" name="name" id="i_name" value="" placeholder="Enter your name..">
                        </label>
                    </p>

                    <label>7. Education/Training</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="education" id="edu_training" value="1">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="education" id="edu_training" value="2">
                            Below Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="education" id="edu_training" value="3">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="education" id="edu_training" value="4">
                            Above Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="education" id="edu_training" value="5">
                            Excellent
                        </label>
                    </p>

                    <label>8. Programming Knowledge</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="programming" id="programming" value="1">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="programming" id="programming" value="2">
                            Below Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="programming" id="programming" value="3">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="programming" id="programming" value="4">
                            Above Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="programming" id="programming" value="5">
                            Excellent
                        </label>
                    </p>

                    <label>9. Adaptibility & Flexibility</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="adaptability&felxi" id="adap&flexi" value="1">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="adaptability&felxi" id="adap&flexi" value="2">
                            Below Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="adaptability&felxi" id="adap&flexi" value="3">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="adaptability&felxi" id="adap&flexi" value="4">
                            Above Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="adaptability&felxi" id="adap&flexi" value="5">
                            Excellent
                        </label>
                    </p>

                    <label>10. Problem Solving</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="problemsolving" id="problemsolving" value="1">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="problemsolving" id="problemsolving" value="2">
                            Below Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="problemsolving" id="problemsolving" value="3">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="problemsolving" id="problemsolving" value="4">
                            Above Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="problemsolving" id="problemsolving" value="5">
                            Excellent
                        </label>
                    </p>

                    <label>11. Logical Reasoning</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="logicalreasoning" id="logicalreasoning" value="1">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="logicalreasoning" id="logicalreasoning" value="2">
                            Below Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="logicalreasoning" id="logicalreasoning" value="3">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="logicalreasoning" id="logicalreasoning" value="4">
                            Above Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="logicalreasoning" id="logicalreasoning" value="5">
                            Excellent
                        </label>
                    </p>

                    <label>12. Interpersonal & Communication Skills</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="interpersonal&communication" id="interpersonal&communication"
                                value="1">
                            Bad
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="interpersonal&communication" id="interpersonal&communication"
                                value="2">
                            Below Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="interpersonal&communication" id="interpersonal&communication"
                                value="3">
                            Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="interpersonal&communication" id="interpersonal&communication"
                                value="4">
                            Above Average
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="interpersonal&communication" id="interpersonal&communication"
                                value="5">
                            Excellent
                        </label>
                    </p>

                    <label>13. Recommend to hire?</label>
                    <p>
                        <label class="radio-inline">
                            <input type="radio" name="recommend" id="recommend" value="4">
                            Hire - Exceptional Candidate
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="recommend" id="recommend" value="3">
                            Hire
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="recommend" id="recommend" value="2">
                            Do not hire
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="recommend" id="recommend" value="1">
                            Additional interviews required
                        </label>
                    </p>

                    <label>14. Additional Comments</label>
                    <p>
                        <label class="text-field">
                            <textarea class="form-control" type="textarea" name="comments" id="comments"
                                placeholder="Your Comments" maxlength="4000" rows="3"></textarea>
                        </label>
                    </p>

                </div>

            </div>

            <div class="row">
                <div class="-group">
                    <button type="review" class="btn bg-primary text-white btn-lg" style="padding-left: 2px;">Submit</button>
                </div>
            </div>

        </form>

        <div id="success_message" style="width:100%; height:100%; display:none; ">
            <h3>Posted your feedback successfully!</h3>
        </div>
        <div id="error_message" style="width:100%; height:100%; display:none; ">
            <h3>Error</h3>
            Sorry there was an error sending your form.

        </div>
    </div>
</div>